.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.color-success {
    color: $success;
}

.color-error {
    color: $error;
}

.spaced {
    margin:1rem 0;
}